.shipping{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid green; */
    padding: 25px;  
}

.shipping-form{
    /* border: 2px solid red; */
    width: 60%;
    padding: 35px;
}

.shipping-confirm{
    /* border: 2px solid blue; */
    width: 40%;
    padding: 35px;
}


.edit-container{
    /* border: 2px solid red; */
    /* width : 65%; */
    display: flex;
    justify-content: center;
}

.edit{
    /* border: 2px solid blue; */
    border-bottom: 2px solid rgb(161, 158, 158);
    padding: 5px;
    width: 70%;
    margin-bottom: 3px;
}

.form-field{
    width: 75%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(245, 236, 236);
    border-radius: 5px;
    outline: none;
}

.field-container{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form-field:focus{
    border: 2px solid red;
    background-color: white;
}

.error-class{
    color: red;
    margin-bottom: 5px;
}

.my-btn{
    background-color: red;
    color: white;
    width: 75%;
}

.pointer{
    cursor: pointer;
}

.pro-details{
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: rgb(243, 240, 240);
    margin-top: 5px;    
    border-radius: 15px;
}

.pro-image{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}
.pro-image img{
    width: 100%;
}

.pro-detail{
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
    width: 40%;
    /* border: 2px solid red; */
}

.pro-cal{
    /* border: 2px solid blue; */
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pro-minus, .pro-plus{
    margin: 5px;
    cursor: pointer;
}
.pro-quantity{
    margin: 5px;
    font-weight: bold;
}

.last-section{
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: 2px solid blue; */
}

.table-grid{
    /* border : 1px solid black; */
    padding: 10px;
}
.general{
    display: flex;
    justify-content: space-between;
}


.my-pro-btn{
    background-color: rgb(25, 211, 25);
    margin-top: 20px;
    width: 100%;
}
