.shipping{
    display: flex;
    justify-content: space-between;
    border: 2px solid green;
}

.shipping-form{
    border: 2px solid red;
    width: 60%;
    padding: 10px;
}

.shipping-confirm{
    /* border: 2px solid blue; */
    width: 40%;
}


.edit-container{
    /* border: 2px solid red; */
    /* width : 65%; */
    display: flex;
    justify-content: center;
}

.edit{
    /* border: 2px solid blue; */
    border-bottom: 2px solid rgb(161, 158, 158);
    padding: 5px;
    width: 62%;
    margin-bottom: 3px;
}

.form-field{
    width: 65%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(245, 236, 236);
    border-radius: 5px;
    outline: none;
}

.field-container{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field:focus{
    border: 2px solid red;
    background-color: white;
}

.error-class{
    color: red;
    margin-bottom: 5px;
}

.my-btn{
    background-color: red;
    color: white;
    width: 65%;
}

.pointer{
    cursor: pointer;
}

.pro-details{
    border: 2px solid yellow;
}

.pro-image-container{
    display: flex;
    justify-content: space-between;
}

.pro-image-container{
    width: 30%;
}
.pro-image-container img{
    width: 100%;
}

.pro-detail{
    width: 40%;
}

.pro-cal{
    border: 2px solid blue;
    width: 30%;
}