.menu-title{
    display: flex;
    justify-content: center;
}

.menu-title p{
    margin: 20px;
    transition: border, transform .6s ease-in-out;
    padding: 5px;
    cursor:pointer;
}

.menu-title p:hover{
    border-bottom: 2px solid red;
    transform: scale(1.1);
}

.selected{
    border-bottom: 2px solid red;
}